.text{
    font-family: 'Libre Franklin', sans-serif;
}
.jumbotron{
    height: 175px;
}

.logo{
    height: 60px;
    width: 60px;
    margin-bottom: -60px;
    margin-left: -40px;
}

#fightCard{
    position: absolute;
    bottom: 0;
    right: 0;

}

.player-img{
    height: 120px;
    width: 120px;
}

.fightButton{
    width: 100%;
    font-size: 24px;
    border-radius: 1px;
}

.playersAtStart1,
.playersAtStart2,
.playersAtStart3,
.playersAtStart4{
    position: relative;
}

.badge-pill{
    position: absolute;
    top: 20px;
    right: 50px;
}
