.jumbotron{
    height: 120px;;
}

/* .waitingArea{
    height: 130px;
} */

.logo{
    height: 60px;
    width: 60px;
    margin-bottom: -60px;
    margin-left: -40px;
}

#fightCard{
    position: absolute;
    bottom: 0;
    right: 0;

}

.player-img{
    height: 120px;
    width: 120px;
}